<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>Freemed-EMR</title>
    <link href="/vscode.ico" rel="shortcut icon">
    <link href="/dist/index.css" rel="stylesheet">
    <style>
    </style>
</head>

<body>
  <div class="content-wrap">
    <div class="login-container">
        <div class="login-wrapper">

            <div class="login-logo">
                <img class="logo-img" src="/img/freemed_logo_eng.png" alt="">
                <b><h4>Welcome to Freemed EMR</h4></b>
                <h5 class="login-logo-desc">Login with your
                    <b>Freemed ID</b>
                </h5>
            </div>

            <div class="login-form">
                <form class="ui form login">
                  <div class="login-button-link">
                    <a class="ui google plus button login-act-tag" href="/auth/login" id="login-member">
                      <i class="google plus icon"></i>
                      Sign In With Google
                    </a>
                  </div>
                  <div class="login-button-link">

                    <a class="ui vk button login-act-tag" id="login-special">
                      <i class="address card outline icon"></i>
                      For Doctor, Pharmacist
                    </a>
                  </div>

                  <div class="special-login-form-wrap">
                    <div class="ui form">
                      <div class="special-login-input-wrap">
                          <input type="text" class="special-login-input" name="special-account" placeholder="Input Doctor or Pharmacist Account">
                      </div>
                      <div class="special-login-input-wrap">
                          <input type="password" class="special-login-input" name="special-account-password" placeholder="Input Doctor or Pharmacist Password">
                      </div>
                    </div>

                    <div class="login-button-link">
                      <div class="special_button-wrap">
                        <a class="ui vk button login-act-tag" id="login-special-cancel-btn">
                          <i class="address card outline icon"></i>
                          Cancel
                        </a>
                      </div>
                      <div class="special_button-wrap">
                        <a class="ui vk button login-act-tag" id="login-special-btn">
                          <i class="address card outline icon"></i>
                          Sign In
                        </a>
                      </div>

                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
    <div class="silde-container">
        <div class="silde-wrapper">
            <img class="slide-img" src="/img/freemed_autumn.jpg" alt="">
            <img class="slide-img" src="/img/freemed_winter.jpg" alt="">
            <img class="slide-img" src="/img/freemed_leadership.jpg" alt="">
            <img class="slide-img" src="/img/freemed_recruit.jpg" alt="">
        </div>
    </div>
  </div>
  <script src="/dist/index.bundle.js"></script>
</body>

</html>
