<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>Freemed-EMR</title>
    <link href="/vscode.ico" rel="shortcut icon">
    <link href="/dist/index.css" rel="stylesheet">
    <style>
      .management-container {
        padding : 1.5%;
      }
      .inline-header {
        display: inline-block;
      }
      .management-search-input, .inventory-search-input {
        width: 400px;
      }
      .management-medicine-search-select {
        float: right;
      }

      .ui.table.pharmacopoeia-add-table {
        margin-top: 20px;
      }
      .ui.table.pharmacopoeia-add-table tbody td {
        vertical-align: middle;
        text-align: center;
      }

      .inventory-medicine-search-select {
        float: right;
      }

      .confirm-modal-wrap {
        margin-top: -150px;
        height: 215px;
      }
      .confirm-modal-wrap .content{
        height: 90px;
      }
      .confirm-modal-wrap .actions .ui.cancel.button {
        margin-left: 0px;
      }
      #medicine-management-form {
        margin-top: 15px;
      }
      #medicine-inventory-form {
        margin-top: 1.5%;
      }
      .update-medicine-in-management:hover, .cancel-update-medicine:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      .updateCategoryWidth{
        width: 20%;
      }
      .add-medicine-table-col{
        cursor: auto;
        background: #F9FAFB;
        text-align: inherit;
        color: rgba(0, 0, 0, 0.87);
        padding: 0.92857143em 0.78571429em;
        vertical-align: inherit;
        font-style: none;
        font-weight: bold;
        text-transform: none;
        border-bottom: 1px solid rgba(34, 36, 38, 0.1);
        border-left: none;
      }
    </style>
</head>

<body>
    <header>
        <% include ./parts/header.ejs %>
    </header>

    <section class="ui container management-container" style="width:1300px;">
        <div class="ui grid">
            <div class="left floated six wide column" style="margin-left:.1%">
                <h1>약국 재고관리</h1>
            </div>
        </div>

        <div class="ui clearing divider"></div>


        <div class="ui top attached tabular menu tab-menu-list">

            <a id="pharmacopoeia-management-tab" class="item active">
              약전
            </a>
            <a id="inventory-management-tab" class="item">
              재고표
            </a>
            <a id="history-management-tab" class="item">
              히스토리
            </a>

        </div>


        <div id="pharmacopoeia-management" class="ui bottom attached segment content-list">

          <div class="ui two item stackable tabs menu">
              <select class="ui search dropdown categoryWidth management-main-category-select" id="management-main-category-select">
                  <option class="default" value="">대분류</option>
              </select>
              <select class="ui search dropdown categoryWidth management-small-category-select" id="management-small-category-select">
                  <option class="default" value="">소분류</option>
              </select>
          </div>

          <div class="scrolling content">
              <div class="search-bar-in-management">

                  <button class="ui primary button add-medicine-by-management">
                      약품 추가
                  </button>

                  <button class="ui primary button delete-medicines-by-management" id="delete-medicines-by-management">
                      일괄 삭제
                  </button>

                  <button class="ui primary button select-all-medicine-button" id="select-all-medicine-button">
                      전체 조회
                  </button>

                  <button class="ui primary button management-pharmacy-search-button" style='float:right;'>
                      검색
                  </button>

                  <div id="autoCompleteMedicine" class="ui search" style='float:right;'>
                      <div class="ui icon input management-search-input">
                          <input class="prompt" name="managementMedicineSearchText" type="text" placeholder="성분 또는 약품명을 적어주세요.">
                      </div>
                      <div class="results"></div>
                  </div>

                  <select class="ui dropdown management-medicine-search-select">
                      <option value="">검색 구분</option>
                      <option selected value="1">약품명</option>
                      <option value="2">성분명</option>
                  </select>
              </div>

              <form id="medicine-management-form">
              <table class="ui fixed selectable celled table form" style="text-align:center;" id="medicine-management-table">
                  <thead>
                      <tr>
                          <th width="2.7%"></th>
                          <th>대분류</th>
                          <th>소분류</th>
                          <th>약품명</th>
                          <th>성분명 및 함량</th>
                          <th width="60px">포장단위</th>
                          <th width="60px">재고량</th>
                          <th>용량/용법</th>
                          <th>약효</th>
                          <th width="10%">활성</th>
                          <th width="7%">기타</th>
                      </tr>
                  </thead>

                  <tbody id="medicine-management-table-body">

                  </tbody>
              </table>
              </form>
          </div>
        </div>

        <div id="inventory-management" class="ui bottom attached segment content-list">
          <div class="ui two item stackable tabs menu">
              <select class="ui search dropdown categoryWidth inventory-main-category-select" id="inventory-main-category-select">
                  <option class="default" value="">대분류</option>
              </select>
              <select class="ui search dropdown categoryWidth inventory-small-category-select" id="inventory-small-category-select">
                  <option class="default" value="">소분류</option>
              </select>
          </div>

          <div class="scrolling content">
              <div class="search-bar-in-inventory">
                  <button class="ui primary button select-all-medicine-button" id="select-all-inventory-button">
                      전체 조회
                  </button>


                  <button class="ui primary button inventory-pharmacy-search-button" style='float:right;'>
                      검색
                  </button>

                  <div id="autoCompleteMedicine" class="ui search" style='float:right;'>
                      <div class="ui icon input inventory-search-input">
                          <input class="prompt" name="managementMedicineSearchText" type="text" placeholder="성분 또는 약품명을 적어주세요.">
                      </div>
                      <div class="results"></div>
                  </div>

                  <select class="ui dropdown inventory-medicine-search-select">
                      <option value="">검색 구분</option>
                      <option selected value="1">약품명</option>
                      <option value="2">성분명</option>
                  </select>
              </div>
          </div>

          <form id="medicine-inventory-form">
          <table class="ui fixed selectable celled table form" style="text-align:center;" id="medicine-inventory-table">
              <thead>
                  <tr>
                      <th>대분류</th>
                      <th>소분류</th>
                      <th>약품명</th>
                      <th>성분명 및 함량</th>
                      <th>용량</th>
                      <th>포장단위</th>
                      <th>유효기간</th>
                      <th>재고</th>
                      <th>총량</th>
                      <th>메모</th>
                      <th width="7%">기타</th>
                  </tr>
              </thead>

              <tbody id="medicine-inventory-table-body">

              </tbody>
          </table>
          </form>
        </div>

        <div id="history-management" class="ui bottom attached segment content-list">
          <div class="scrolling content">
              <div class="search-bar-in-management">

                  <button class="ui primary button management-medicine-history-search-button" style='float:right; margin-bottom: 19px; width:6%;'>
                      검색
                  </button>

                  <div class="ui calendar" id="ocsRangeEnd" style="float: right; margin-right: 5px; width: 250px;">
                    <div class="ui input left icon">
                      <i class="calendar icon"></i>
                      <input id="endTime" type="text" placeholder="검색 종료 날짜" style="width: 250px;">
                    </div>
                  </div>

                  <div class="ui calendar" id="ocsRangeStart" style="float: right; margin-right: 5px; width: 250px;">
                    <div class="ui input left icon">
                      <i class="calendar icon"></i>
                      <input id="startTime" type="text" placeholder="검색 시작 날짜" style="width:250px;">
                    </div>
                  </div>

                  <div style='float:left; margin-right: 5px;'>
                    <select class="ui dropdown history-medicine-search-select">
                        <option value="">검색 구분</option>
                        <option selected value="1">약품명</option>
                        <option value="2">성분명</option>
                    </select>
                  </div>

                  <div id="autoCompleteMedicine" class="ui search" style='float:left; margin-right: 5px;'>
                      <div class="ui icon input management-search-input">
                          <input class="prompt" name="historyMedicineSearchText" type="text" placeholder="성분 또는 약품명을 적어주세요.">
                      </div>
                      <div class="results"></div>
                  </div>
              </div>

              <div class="ui clearing divider"></div>

              <form id="history-management-form">
              <table class="ui fixed celled table form" style="text-align:center;" id="history-management-table">
                  <thead>
                      <tr>
                          <th>대분류</th>
                          <th>소분류</th>
                          <th>약품명</th>
                          <th>성분명 및 함량</th>
                          <th style="width:10%;">사용량</th>
                          <th style="width:13%;">잔여 총량</th>
                          <th style="width:10%;">재고</th>
                      </tr>
                  </thead>

                  <tbody id="history-management-table-body">
                    <tr>
                        <td class="defaultHistoryForManagementTableBody" style="text-align:center;" colspan="7">
                          날짜를 지정한 뒤 약품 또는 성분명을 입력하지 않고 검색 버튼을 누르면 해당 기간 내 사용한 전체 약품 데이터가 조회됩니다.
                        </td>
                    </tr>
                  </tbody>
              </table>
              </form>
          </div>
        </div>

    </section>

    <div class="ui longer modal pharmacopoeia-add"  style="height: 650px">
        <div class="ui two item stackable tabs menu">
            <select class="ui search dropdown categoryWidth main-category-select2" id="mainCategory" name="mainCategory">
                <option class="default" value="pp">대분류</option>
            </select>
            <select class="ui search dropdown categoryWidth small-category-select2" id="smallCategory" name="smallCategory">
                <option class="default" value="qq">소분류</option>
            </select>
        </div>
        <form id="add-medicine-form">
        <div class="scrolling content pharmacyModal">
            <table class="ui fixed selectable celled table form pharmacopoeia-add-table" >
              <colgroup>
                <col class="add-medicine-table-col"/>
                <col />
              </colgroup>
                <tbody id="medicineAddTableBody">
                  <tr>
                    <td width="30%">약품명</td>
                    <td width="70%"><input type="text" id="name" name="name"></td>
                  </tr>
                  <tr height="100px">
                    <td>성분명 및 함량</td>
                    <td><textarea id="ingredient" name="ingredient" rows="3" style="overflow-x:hidden;"></textarea></td>
                  </tr>
                  <tr>
                    <td>포장단위</td>
                    <td><input type="text" id="amount" name="amount"></td>
                  </tr>
                  <tr >
                    <td>재고량</td>
                    <td><input type="text" id="amount" name="quantity"></td>
                  </tr>
                  <tr height="100px">
                    <td>용량/용법</td>
                    <td><textarea id="medication" name="medication" rows="3" style="overflow-x:hidden;"></textarea></td>
                  </tr>
                  <tr height="100px">
                    <td>약효</td>
                    <td><textarea id="property" name="property" rows="3" style="overflow-x:hidden;"></textarea></td>
                  </tr>
                </tbody>
            </table>
      </br>
      <center>
      <button type="button" class="ui primary button add-medicine-by-management"  id='add-medicine-btn' >
          추가
      </button>
      <button type="button" class="ui primary button add-medicine-by-management"  id='add-medicine-cancel-btn' >
          취소
      </button>
    </center>
        </div>
      </form>
    </div>

    <div class="ui mini modal confirm-modal-wrap">
        <div class="header">알림</div>
        <div class="content">
            <p></p>
        </div>
        <div class="actions">
            <div class="ui approve button">확인</div>
            <div class="ui cancel button">취소</div>
        </div>
    </div>
    <script src="/dist/index.bundle.js"></script>
</body>

</html>
