<!DOCTYPE>
<html>

<head>
  <meta charset="utf-8">
  <title>Freemed-EMR</title>
  <link href="/vscode.ico" rel="shortcut icon">
  <link href="/dist/index.css" rel="stylesheet">
  <style>
    .h3-header-bottom-margin {
      position: relative;
      bottom: 15px;
    }
    .pharmacy-container {
      padding: 1.5%;
    }
    .ui.table.pharmacopoeia-table thead th {
      padding: 0.8% 1.5% 0.8% 1.5%;
      vertical-align: middle;
      text-align: center;
    }
    .ui.table.pharmacopoeia-table tbody td {
      vertical-align: center;
      text-align: center;
    }
    .ui.segment.pharmacy-segment {
      height: 79%;
    }
    .header-tbody td{
      border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    }
    .getPharmacyOCS {
      float: right;
    }
    .pharmacySearchInput {
      width: 60%;
    }
    .pharmacySearchButton {
      width: 14%;
    }
    .categoryWidth {
      width: 50%;
    }
  </style>
</head>

<body>
  <header>
      <% include ./parts/header.ejs %>
  </header>
  <div class="pharmacy-container">
    <div class="ui grid">
        <div class="left floated six wide column" style="margin-left:.1%">
            <h1>약국</h1>
        </div>
    </div>

    <div class="ui clearing divider"></div>

    <div class="ui internally celled grid">
      <div class="row">
        <div class="four wide column">
          <div class="ui segment pharmacy-segment">
            <h3 class="ui dividing header">
              <span>OCS</span>
              <span class="getPharmacyOCS"><i class="history link icon"></i></span>
            </h3>
            <table class="ui celled selectable table" style="text-align:center;">
              <thead>
                <tr>
                  <th>이름</th>
                  <th>현황</th>
                </tr>
              </thead>
              <tbody id="PharmacyOCSTableBody">
              </tbody>
            </table>
          </div>
        </div>
        <div class="twelve wide column">
          <div class="ui segment pharmacy-segment">
            <button id="pharmacopoeia" class="ui primary button" style="float: right;">약전</button>
            <h2 class="ui dividing header"><span class="h3-header-bottom-margin">처방</span></h2>

            <table class="ui celled table" style="text-align:center;">
              <thead>
                <tr>
                  <th>약품명</th>
                  <th>성분명 / 함량</th>
                  <th width="8%">1회<br />투약량</th>
                  <th width="10%">1일<br />복용횟수</th>
                  <th width="10%">복용일수</th>
                  <th>비고</th>
                  <th width="10%">기타</th>
                </tr>
              </thead>
              <!-- <tbody class="header-tbody">
                <tr>
                  <td colspan="2">Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>
                    <i class="configure link icon"></i>
                    <i class="trash link icon"></i>
                  </td>
                </tr>
              </tbody> -->
              <tbody>
                <tr>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>
                    <i class="configure link icon"></i>
                    <i class="trash link icon"></i>
                  </td>
                </tr>
                <tr>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>
                    <i class="configure link icon"></i>
                    <i class="trash link icon"></i>
                  </td>
                </tr>
                <tr>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>
                    <i class="configure link icon"></i>
                    <i class="trash link icon"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui longer modal pharmacopoeia">
      <div class="ui two item stackable tabs menu">
          <select class="ui dropdown categoryWidth main-category-select">
            <option class="default" value="">대분류</option>
          </select>
          <select class="ui dropdown categoryWidth small-category-select">
            <option class="default" value="">소분류</option>
          </select>
      </div>

      <div class="scrolling content">
          <div>
            <select class="ui dropdown medicineSearchSelect">
              <option value="">검색 구분</option>
              <option selected value="1">약품명</option>
              <option value="2">성분명</option>
            </select>
            <div class="ui input focus pharmacySearchInput">
              <input name="medicineSearchText" type="text" placeholder="성분 또는 약품명을 적어주세요.">
            </div>
            <button class="ui primary button pharmacySearchButton">
              검색
            </button>
          </div>
          <table class="ui fixed selectable celled table pharmacopoeia-table">
              <thead>
                  <tr>
                      <th width="13%">약품명</th>
                      <th width="22%">성분명 및 함량</th>
                      <th width="30%">용량/용법</th>
                      <th>약효</th>
                  </tr>
              </thead>
              <tbody id="medicineTableBody">

              </tbody>
          </table>
      </div>
  </div>
  <script src="/dist/index.bundle.js"></script>
</body>

</html>
