<style>
  .header.item.logo-wrap {
    padding: 0px;
  }
  .header-logo-img {
    width: 100px !important;
  }
  .freemed-header-wrap {
    height: 65px;
  }
</style>
<header>
    <nav>
        <div class="ui borderless main menu freemed-header-wrap">
            <div class="ui container">
                <a href="/receipt" class="header item logo-wrap">
                    <img class="header-logo-img" src="/img/freemed_logo_eng.png">
                </a>
                <% if (auth === 'normal') { %>
                  <a href="/receipt" class="item">접수</a>
                  <a href="/ocs" class="item">OCS</a>
                  <a href="/prediagnosis" class="item">예진</a>
                  <a href="/pharmacy" class="item">약국</a>
                <% } else if (auth === 'doctor') { %>
                  <a href="/receipt" class="item">접수</a>
                  <a href="/ocs" class="item">OCS</a>
                  <a href="/prediagnosis" class="item">예진</a>
                  <a href="/originalDiagnosis" class="item">본진</a>
                  <a href="/pharmacy" class="item">약국</a>
                <% } else if (auth === '3partLeader' || 'pharmacist' || 'super') {%>
                  <a href="/receipt" class="item">접수</a>
                  <a href="/ocs" class="item">OCS</a>
                  <a href="/prediagnosis" class="item">예진</a>
                  <a href="/originalDiagnosis" class="item">본진</a>
                  <a href="/pharmacy" class="item">약국</a>
                  <a href="/management" class="item">약국 재고 관리</a>
                <% } %>
                <a href="/auth/logout" class="ui right item">로그아웃</a>

            </div>
    </nav>
</header>
