<header>
    <nav>
        <div class="ui borderless main menu">
            <div class="ui container">
                <a href="/views/receipt" class="header item">
                    <img class="logo" src="/img/logo.png">
                </a>
                <a href="/views/receipt" class="item">접수</a>
                <a href="/views/ocs" class="item">OCS</a>
                <a href="/views/prediagnosis" class="item">예진</a>
                <a href="/views/originalDiagnosis" class="item">본진</a>
                <a href="/views/pharmacy" class="item">약국</a>
                <a href="/views/management" class="item">약국 재고 관리</a>
                <a href="/views/receipt" class="ui right floated item">로그아웃</a>

            </div>
    </nav>
</header>