.pharmacy-container {
    padding: 1.5%;
  }
  .ui.table.pharmacopoeia-table thead th {
    padding: 0.8% 1.5% 0.8% 1.5%;
    text-align: center;
  }
  .ui.table.pharmacopoeia-table tbody td {
    vertical-align: middle;
    text-align: center;
  }
  .getPharmacyOCS {
    float: right;
  }
  .pharmacySearchInput {
    width: 60%;
    display: inline-block;
  }
  .pharmacySearchInput .ui.search {
    width: 100%;
  }
  .pharmacySearchInput .ui.search .prompt {
    width: 100%;
  }
  .ui.search .results {
    width: 100%;
  }
  .pharmacySearchButton {
    width: 14%;
  }
  .categoryWidth {
    width: 50%;
  }
  .pharmacopoeia-hover {
    cursor: pointer;
  }
  .deletePrescriptionTD:hover {
    background-color: #fcf4f1;
  }
  .delete-icon-size:before {
    font-size: 1.5rem;
  }
  .delete-icon-size:hover {
    cursor: pointer;
  }
  /* 약전용 css */
  #autoCompleteMedicine {
    display: inline;
  }
  .results {
    display: inline;
  }
  .ui.search .prompt {
    border-radius: 5px;
  }
.pharmacyModal {
    min-height: 100%;
}
